@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.card_item {
    position: relative;
    margin: 0 40px 40px 0;
    color: #333333;
}

.card_item > p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
}

.card_item h4 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.card_item p, .card_item button, .card_item h4{
    padding: 3px 0;
}


.img_card {
    width: 300px;
}

.new {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
}

.new:hover{
    cursor: auto;
}

