#register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.labels {
    display: flex;
}

.labels  div {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.labels div label, .labels div input{
    margin: 12px 0;
}