#shop_pagination {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    margin-left: 100px;
}

#pagination {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.loader_shop {
    display: flex;
    margin-left: 40px;
}

@media (max-width: 1350px){
    #shop_pagination {
        grid-template-columns: repeat(2, 1fr);
    }
}