#shop_pagination {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    margin-left: 100px;
}

#pagination {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}