@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


#searchbar > div {
    padding: 7px 0;
}

#searchbar  h3 {
    padding: 7px 0;
    font-weight: 500;
}

#searchbar label {
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-style: normal;

}

#search {
    display: flex;
    align-items: center;
}

#search input, #order select {
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 10px;
    width: 171px;
}

#search input {
    width: 200px;
    height: 30px;
}

input:focus{
    outline: none;
}

@media (min-width: 800px){
    #search input {
        width: 360px;
        height: 30px;
    }
}